*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(166, 0, 255);
}

main{
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.456);
}

h1 {
    font-size: 2em;
    color: rgb(26, 26, 33);
}

h2 {
    font-size: 1.5em;
    color: rgb(23, 23, 29);
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(12, 45, 229);
}

a:hover {
    text-decoration: underline;
    color: blue;
}